*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    border: 2px solid gray;
    background-color: gray;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top:15px;
    
    
}
header ul a{
    text-decoration: none;
    color: black;
    padding: 6px 15px;
}
body{
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h3{
    margin-top: 5px;
}
.h3-2{
    font-family: courier;
}
.h3-1{
    margin-top: 300px;
}
.h4{
    font-family: cursive;
    margin-left: 25%;
    margin-top: 430px;
}
.content{
    outline: none;
    margin-left:  45%;
    width: 30%;
    min-height: 500px;
    
}


@media (max-width:900px){
    .content{
        margin-left: 5%;
    }
    .h3-1{
        margin-top: 35px;
    }
    .qra{
        display: none;
    }
    .h4{
        width: 300px;
    }
    .h3-3{
        width: 350px;
    }
}