*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: goldenrod;
}


header{
    border: 2px solid gray;
    background-color: gray;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    
    
}

header ul a{
    
    padding: 6px 16px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

header ul a:hover{
    background-color: chocolate;
}
header ul li:hover .menu1{
display: block;
flex-direction: row;
position: absolute;
margin-top: 15px;
margin-left: 15px;
}
.homepatra{
    color: white;
}
.menu1{
    display: none;
}
.active{
    margin-left: 70px;
    position: relative;
    top:-17px;
}
.qra{
    position: relative;
    top:-17px;
}
.qra1{
    margin-right: 50px
}
.divflex1{
    display: flex;
    margin-top: 50px;
    margin-left: 5%;
}
.poto1{
    display: flex;
}
.h4{
    margin-top: 5px;
    margin-left: 2%;
    width: 260px;
}
.h4-1{
    margin-top: 5px;
    margin-left: 2%;
    width: 230px;
}
.pp1{
    width: 340px;
    height: 200px;
}
.poto1-1{
    display: flex;
    height: 200px;
}
.hrerti{
    margin: auto;
    margin-top: 15px;
    width: 93%;
    border-style: dashed;
    color: black;
}
.snow, .snow2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(snow.png);
    background-position: 0 0;
    
    z-index: -1;
}
.snow{
    background-size: 70em;
    animation: snowfall 30s linear infinite;
}
.snow2{
    background-size: 50em;
    animation: snowfall2 30s linear infinite;
    opacity: 0.5s;
}
@keyframes snowfall {
    100%{
        background-position: 70em 70em;
    }
    
}
@keyframes snowfall2{
    100%{
        background-position: 50em 0;
    }
}


















@media (min-width:800px){
    .homepatra{
        display: none;
    }
    .menu1, .menu2{
        display: none;
    }
    .mail1{
        display: none
    }
}





@media (max-width:900px) {
    .h4{
        font-size: 70%;
        width: 40%;
        margin-top: 15px;
    }
    .snow,.snow2{
        height: 2230px;
    }
.h4-1{
    font-size: 70%;
        width: 40%;
        margin-top: 15px;
        
}
.poto1{
    margin-top: 15px;
}
.pp1{
    margin-top: 15px;
    width: 55%;
}
.divflex1{
        display: block;
        margin-left: 2%;
    }
.homepatra{
    color: black;
    transition: 3s;
}
.menu2{
    color: black;
}
.qra1{
    color: black;
    transition: 3s;
}
.qra{
    display: none;
}
.active{
    display: none;
    
}
.qra1{
    margin-right: 4px;
    transition: 3s;
    
}
.img1{
    display: none;
}
.img2{
    margin-left: 15px;
    transition: 3s;
}
.sarchevi{
    margin-left: 5px;
    width: 350px;
}

}

@media (max-width:550px){
.sarchevi{
    margin-left: 35px;
    transition: 3s;
}
.img2{
    display: none;
}
}
@media (max-width:360px){

.qra1{
    display: none;
}
.sarchevi{
    margin-left: 5px;
}
}
@media (max-width:335px){
.sarchevi{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.but1{
    display: none;
}
}