body{
    background: #996666	;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.loginbox{
    width: 300px;
    height: 480px;
    background: #1c2833;
    color: white;
    margin: 70px auto;
    border-radius: 10px;
    margin-top: 250px;
}
h1{
    text-align: center;
    margin-top: -60px;
}

label{

    font-size: 18px;
    display: block;
    margin-left: 20px;
}

input{

    width: 80%;
    margin: 0 0 20px 20px;
}

.text, .password{
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 40px;
    outline: none;
    color: white;
    font-size: 16px;
}
.password2{
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 40px;
    outline: none;
    color: white;
    font-size: 16px;
}

.submit{
    border: solid red 2px;
    outline: none;
    height: 40px;
    border-radius: 20px;
    background: #fb2525;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 25px;
    
}

a{
    text-decoration: none;
    color: white;
    margin-left: 30%;
}

.submit:hover{
    background: blueviolet;
}
.snow, .snow2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(snow.png);
    background-position: 0 0;
    
    z-index: -1;
}
.snow{
    background-size: 70em;
    animation: snowfall 30s linear infinite;
}
.snow2{
    background-size: 50em;
    animation: snowfall2 30s linear infinite;
    opacity: 0.5s;
}
@keyframes snowfall {
    100%{
        background-position: 70em 70em;
    }
    
}
@keyframes snowfall2{
    100%{
        background-position: 50em 0;
    }
}






