*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #6a5acd;
}
header{
    border: 2px solid gray;
    background-color: gray;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top:15px;
    
    
}

header ul a{
    
    padding: 6px 16px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

header ul a:hover{
    background-color: chocolate;
}
header ul li:hover .menu1{
display: block;
flex-direction: row;
position: absolute;
margin-top: 15px;
margin-left: 15px;
}
.homepatra{
    color: white;
}
.menu1{
    display: none;
}
.active{
    margin-left: 70px;
    position: relative;
    top:-17px;
}
.qra{
    position: relative;
    top:-17px;
}
.qra1{
    margin-right: 50px
}

/* სათაურის დასასწული  */
.img1{
    margin-top: 5px;
    width: 60%; 
    height: 150px;  
    margin-left: 22%;
}
.imgf1{
    margin-top: 30px;
    position: absolute;
    margin-left: 10px;
    
}
.imgf1-1{
    width: 30%;
    height: 500px;
}
.snow, .snow2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1530px;
    background: url(snow.png);
    background-position: 0 0;
    
    z-index: -1;
}
.snow{
    background-size: 70em;
    animation: snowfall 30s linear infinite;
}
.snow2{
    background-size: 50em;
    animation: snowfall2 30s linear infinite;
    opacity: 0.5s;
}
@keyframes snowfall {
    100%{
        background-position: 70em 70em;
    }
    
}
@keyframes snowfall2{
    100%{
        background-position: 50em 0;
    }
}
/* რეკლამა */
.img2{
    margin-top: 20px;
    margin-left: 29%;
    width: 50px;
    
    
    
}
.sarchevi{
    margin-left: 5%;
    margin-top: 35px;
    border: 2px solid orange;
    height: 30px;
    width: 790px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(search-2-line.png);
    background-position: 3px 3px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
}
.li{
    display: flex;
}
/* სარშევი  */
.dge{
    margin-top: 25px;
    margin-left: 30%;
}
.flexbox{
    display: flex;
    
}

.imglewis{
    margin-left: 20%;
    margin-top: 25px;
    width: 10%;
    display: flex;
    float: left;
    padding-right: 15px;
    
}
.info1{
    margin-top: 10px;
    
    
}
.lewis{
    margin-top: 35px;
}
.hr1{
    margin-top: 15px;
    color: gray;
    border-style: dashed;
}

.hr2{
   border-style: dashed;
   color: gray;
   margin-left: 10px;
}
.daw1{
    border: 2px solid blue;
    background-color: blue;
    border-radius: 15px;
    text-decoration: none;
    padding:6px 15px ;
    color: black;
    margin-top: 130px;
    float: right;
    margin-right: 15px;

}

.mail{
    color: black;
    text-decoration: none;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-image: url(mail-send-line.png);
    margin-left: 5%;
    margin-top: 15px;
    display: flex;
}
.mail1{
    padding-left: 35px;
    color: black;
    text-decoration: none;
    background-repeat: no-repeat;
    background-image: url(mail-send-line.png);
    margin-left: 6%;
    margin-top: 15px;
    display: flex;

}
.h44{
    margin-left: 10px;
}
.amind{
    margin-left: 130px;
    border-left: 2px dashed gray;
    padding: 6px 15px;
}
.amindi-2{
    display: flex;
}
.grubeli{
    width: 50px;
    margin-top: 15px;
    margin-left: 9px;
}
.tbilisi{
    margin-top: 25px;
    margin-left: 15px;
}
.moon{
    margin-left: 10px;
}
.sun{
    margin-left: 45px;
}

/* ინფორმაცია  */
.ulli a{
    color: black;
    text-decoration: none;
}
.ulli1 a{
    color: black;
    text-decoration: none;
}
.ulli2 a{
    color: black;
    text-decoration: none;
}
.ulli2-1 a{
    color: black;
    text-decoration: none;
}
.hr3{
    margin: auto;
    margin-top: 15px;
    color: gray;
    border-style: dashed;
    width: 90%;
}
.yvela{
    margin-top: 25px;
    margin-left: 30%;
}
.yvella{
    margin-left: 31%;
    display: flex;
    
}
.ulli{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 6px 15px;
    
    
}
.ulli1{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 6px 15px;
    
}
.ulli2{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 6px 15px;
    
}
.ulli2-1{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 6px 15px;
    
}
.linki1{
    justify-content: space-between;
}
/* ყველა  */
.hr4{
    margin: auto;
    margin-top: 15px;
    color: gray;
    border-style: dashed;
    width: 90%;
}
/* დაშორება */
.h4{
    margin-top: 25px;
    margin-left: 30%;
}
.divflex{
    display: flex;
    margin-left: 15%;
    margin-top: 30px;
    
}
.img1-1{
    width: 20%;
    height: 300px;
}
.rbola{
    
    margin-left: 5px;
    width: 390px;
}

.butt1{
    margin-left: 65%;
    margin-top: 80px;
    height: 40px;
    border-radius: 15px;
    background-color: orange;

}
.butt1-1{
    margin-left: 65%;
    margin-top: 48px;
    height: 40px;
    border-radius: 15px;
    background-color: orange;
}
.butt1 a{
    text-decoration: none;
    color: black;
}
.butt1-1 a{
    text-decoration: none;
    color: black;
}
.img1-2{
    width: 25%;
    height: 300px;
    

}
.rbola1{
    width: 390px;
    margin-left: 5px;
}
/* end */
.sitvs{
    margin-top: 25px;
    margin-left: 30%;
}
.bolo{
    margin-top: 15px;
    margin-left: 32%;
}
.bolo li{
    list-style: circle;
    padding-top: 5px;
}

.hr5-1{
    border-style: solid;
    color: gray;
    margin: auto;
    margin-top: 50px;
    width: 90%;



}
.dasasruli{
    margin-left: 45%;
}
































@media (min-width:800px){
    .homepatra{
        display: none;
    }
    .menu1, .menu2{
        display: none;
    }
    .mail1{
        display: none
    }
    .hr5{
        display: none;
    }
}

@media (max-width:1400px){
    .amind{
        display: none;
    }
    .sarchevi{
        width: 650px;
    }
    
}
@media (max-width:1650px){
    
    .imgf1-1{
        width: 20%;
    }

}
@media (max-width:1000px){
    .imgf1{
        display: none;
    }
}

@media (max-width:800px){
    .dasasruli{
        margin-left: 15%;
    }
    .snow,.snow2{
        height: 1690px;
    }
    .divflex{
        display: block;
        margin-left: 2%;
        
    }
    .img1-1{
        width: 40%;
        float: left;
        height: 150px;
    }
    .img1-2{
        margin-top: 35px;
        width: 40%;
        float: left;
        height: 225px;
    }
    .rbola{
        width: 350px;

        
    }
    .rbola1{
        margin-top: 35px;
        width: 360px;
        
    }
    .butt1{
        margin-top: 5px;
    }
    .hr4{
        border-style: dashed;
        color: gray;
        margin-top: 15px;
        margin-left: 5%;
        width: 90%;
    }
    .ulli2-1{
        display: none;
    }
    .h4{
        margin-left: 7%;
    }
    .yvella{
        margin-left: 3%;
        display: flex;
        
    }
    .ulli{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        
        
    }
    .ulli1{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        
    }
    .ulli2{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        
    }
    .ulli3{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        
        
    }
    .link1{
        text-decoration: none;
        color: black;
        padding-top: 5px;
    }
    .yvela{
        margin-left: 7%;
    }
    .hr3{
        margin-top: 15px;
        width: 90%;
    }
    .mail{
        display: none;
    }
    .daw1{
        margin-top: 35px;
    }
    .imglewis{
        display: flex;
        margin-left: 5%;
        float: left;
        padding-right: 5%;
        height: 250px;
        width: 50%;
        
    }
    .dge{
        margin-left: 7%;
    }
    .homepatra{
        color: black;
        transition: 3s;
    }
    .menu2{
        color: black;
    }
    .qrr{
        color: black;
        transition: 3s;
    }
    .qra1{
        color: black;
        transition: 3s;
    }
    .qra{
        display: none;
    }
    .active{
        display: none;
        
    }
    .qra1{
        margin-right: 4px;
        transition: 3s;
        
    }
    .img1{
        display: none;
    }
    .img2{
        margin-left: 15px;
        transition: 3s;
    }
    .sarchevi{
        margin-left: 5px;
        width: 350px;
    }
    
}
@media (max-width:550px){
    .sarchevi{
        margin-left: 35px;
        transition: 3s;
    }
    .img2{
        display: none;
    }
}
@media (max-width:360px){
    
    .qra1{
        display: none;
    }
    .sarchevi{
        margin-left: 5px;
    }
}
@media (max-width:335px){
    .sarchevi{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .but1{
        display: none;
    }
}